In [1]:
# Add dependencies
import glob
import pandas as pd

In [2]:
# get data file names
path =r'clean'
filenames = glob.glob(path + "/*.csv")

In [3]:
print(path)

clean

In [4]:
print(filenames)

['clean\\air-force-falcons.csv', 'clean\\akron-zips.csv', 'clean\\alabama-crimson-tide.csv', 'clean\\appalachian-state-mountaineers.csv', 'clean\\arizona-state-sun-devils.csv', 'clean\\arizona-wildcats.csv', 'clean\\arkansas-razorbacks.csv', 'clean\\arkansas-state-red-wolves.csv', 'clean\\army-black-knights.csv', 'clean\\auburn-tigers.csv', 'clean\\ball-state-cardinals.csv', 'clean\\baylor-bears.csv', 'clean\\boise-state-broncos.csv', 'clean\\boston-college-eagles.csv', 'clean\\bowling-green-falcons.csv', 'clean\\buffalo-bulls.csv', 'clean\\byu-cougars.csv', 'clean\\california-golden-bears.csv', 'clean\\central-michigan-chippewas.csv', 'clean\\charlotte-49ers.csv', 'clean\\cincinnati-bearcats.csv', 'clean\\clemson-tigers.csv', 'clean\\coastal-carolina-chanticleers.csv', 'clean\\colorado-buffaloes.csv', 'clean\\colorado-state-rams.csv', 'clean\\duke-blue-devils.csv', 'clean\\east-carolina-pirates.csv', 'clean\\eastern-michigan-eagles.csv', 'clean\\florida-atlantic-owls.csv', 'clean\\florida-gators.csv', 'clean\\florida-international-panthers.csv', 'clean\\florida-state-seminoles.csv', 'clean\\fresno-state-bulldogs.csv', 'clean\\georgia-bulldogs.csv', 'clean\\georgia-southern-eagles.csv', 'clean\\georgia-state-panthers.csv', 'clean\\georgia-tech-yellow-jackets.csv', 'clean\\hawaii-rainbow-warriors.csv', 'clean\\houston-cougars.csv', 'clean\\illinois-fighting-illini.csv', 'clean\\indiana-hoosiers.csv', 'clean\\iowa-hawkeyes.csv', 'clean\\iowa-state-cyclones.csv', 'clean\\kansas-jayhawks.csv', 'clean\\kansas-state-wildcats.csv', 'clean\\kent-state-golden-flashes.csv', 'clean\\kentucky-wildcats.csv', 'clean\\liberty-flames.csv', 'clean\\louisiana-ragin-cajuns.csv', 'clean\\louisiana-tech-bulldogs.csv', 'clean\\louisville-cardinals.csv', 'clean\\lsu-tigers.csv', 'clean\\marshall-thundering-herd.csv', 'clean\\maryland-terrapins.csv', 'clean\\memphis-tigers.csv', 'clean\\miami-hurricanes.csv', 'clean\\miami-oh-redhawks.csv', 'clean\\michigan-state-spartans.csv', 'clean\\michigan-wolverines.csv', 'clean\\middle-tennessee-blue-raiders.csv', 'clean\\minnesota-golden-gophers.csv', 'clean\\mississippi-state-bulldogs.csv', 'clean\\missouri-tigers.csv', 'clean\\navy-midshipmen.csv', 'clean\\nc-state-wolfpack.csv', 'clean\\nebraska-cornhuskers.csv', 'clean\\nevada-wolf-pack.csv', 'clean\\new-mexico-lobos.csv', 'clean\\new-mexico-state-aggies.csv', 'clean\\north-carolina-tar-heels.csv', 'clean\\north-texas-mean-green.csv', 'clean\\northern-illinois-huskies.csv', 'clean\\northwestern-wildcats.csv', 'clean\\notre-dame-fighting-irish.csv', 'clean\\ohio-bobcats.csv', 'clean\\ohio-state-buckeyes.csv', 'clean\\oklahoma-sooners.csv', 'clean\\oklahoma-state-cowboys.csv', 'clean\\old-dominion-monarchs.csv', 'clean\\ole-miss-rebels.csv', 'clean\\oregon-ducks.csv', 'clean\\oregon-state-beavers.csv', 'clean\\penn-state-nittany-lions.csv', 'clean\\pittsburgh-panthers.csv', 'clean\\purdue-boilermakers.csv', 'clean\\rice-owls.csv', 'clean\\rutgers-scarlet-knights.csv', 'clean\\san-diego-state-aztecs.csv', 'clean\\san-jose-state-spartans.csv', 'clean\\smu-mustangs.csv', 'clean\\south-alabama-jaguars.csv', 'clean\\south-carolina-gamecocks.csv', 'clean\\south-florida-bulls.csv', 'clean\\southern-mississippi-golden-eagles.csv', 'clean\\stanford-cardinal.csv', 'clean\\syracuse-orange.csv', 'clean\\tcu-horned-frogs.csv', 'clean\\temple-owls.csv', 'clean\\tennessee-volunteers.csv', 'clean\\texas-am-aggies.csv', 'clean\\texas-longhorns.csv', 'clean\\texas-state-bobcats.csv', 'clean\\texas-tech-red-raiders.csv', 'clean\\toledo-rockets.csv', 'clean\\troy-trojans.csv', 'clean\\tulane-green-wave.csv', 'clean\\tulsa-golden-hurricane.csv', 'clean\\uab-blazers.csv', 'clean\\ucf-knights.csv', 'clean\\ucla-bruins.csv', 'clean\\uconn-huskies.csv', 'clean\\ul-monroe-warhawks.csv', 'clean\\umass-minutemen.csv', 'clean\\unlv-rebels.csv', 'clean\\usc-trojans.csv', 'clean\\utah-state-aggies.csv', 'clean\\utah-utes.csv', 'clean\\utep-miners.csv', 'clean\\utsa-roadrunners.csv', 'clean\\vanderbilt-commodores.csv', 'clean\\virginia-cavaliers.csv', 'clean\\virginia-tech-hokies.csv', 'clean\\wake-forest-demon-deacons.csv', 'clean\\washington-huskies.csv', 'clean\\washington-state-cougars.csv', 'clean\\west-virginia-mountaineers.csv', 'clean\\western-kentucky-hilltoppers.csv', 'clean\\western-michigan-broncos.csv', 'clean\\wisconsin-badgers.csv', 'clean\\wyoming-cowboys.csv']

In [5]:
dfs = []
for filename in filenames:
    dfs.append(pd.read_csv(filename))

# Concatenate all data into one DataFrame
big_frame = pd.concat(dfs, ignore_index=True)

In [6]:
big_frame.count()

Unnamed: 0       4259
AVG_Per_Comp      565
AVG_Per_Rec      2022
AVG_Per_Rush     1672
CMP               565
CMP%              565
INT               565
LNG              4259
Name             4259
Passing_ATT       565
Passing_YDS       565
REC              2022
RTG               565
Recieving_YDS    2022
Rushing_ATT      1672
Rushing_YDS      1672
SACK              565
SYL               565
TD               4259
teamNumer        4259
position         4259
team_name        4259
dtype: int64

In [7]:
big_frame.head()

,Unnamed: 0,AVG_Per_Comp,AVG_Per_Rec,AVG_Per_Rush,CMP,CMP%,INT,LNG,Name,Passing_ATT,...,RTG,Recieving_YDS,Rushing_ATT,Rushing_YDS,SACK,SYL,TD,teamNumer,position,team_name
0,0,11.9,NaN,NaN,56.0,50.5,6.0,81,Donald Hammond III QB,111.0,...,177.9,NaN,NaN,NaN,4.0,-22.0,13,82,QB,air-force-falcons
1,1,24.5,NaN,NaN,5.0,83.3,0.0,75,Mike Schmidt QB,6.0,...,344.1,NaN,NaN,NaN,0.0,0.0,1,82,QB,air-force-falcons
2,2,15.2,NaN,NaN,5.0,100.0,0.0,41,Isaiah Sanders QB,5.0,...,227.7,NaN,NaN,NaN,0.0,0.0,0,82,QB,air-force-falcons
3,3,31.5,NaN,NaN,2.0,100.0,0.0,41,Chance Stevenson RB,2.0,...,364.6,NaN,NaN,NaN,0.0,0.0,0,82,RB,air-force-falcons
4,4,0.0,NaN,NaN,0.0,0.0,0.0,0,-,2.0,...,0.0,NaN,NaN,NaN,0.0,0.0,0,82,-,air-force-falcons

In [8]:
big_frame.count()

Unnamed: 0       4259
AVG_Per_Comp      565
AVG_Per_Rec      2022
AVG_Per_Rush     1672
CMP               565
CMP%              565
INT               565
LNG              4259
Name             4259
Passing_ATT       565
Passing_YDS       565
REC              2022
RTG               565
Recieving_YDS    2022
Rushing_ATT      1672
Rushing_YDS      1672
SACK              565
SYL               565
TD               4259
teamNumer        4259
position         4259
team_name        4259
dtype: int64

In [10]:
# Export to csv
big_frame.to_csv("clean_player_data.csv")