In [2]:
# Update sklearn to prevent version mismatches
!pip install sklearn --upgrade

Requirement already up-to-date: sklearn in c:\users\poona\anaconda3\envs\pythondata\lib\site-packages (0.0)
Requirement already satisfied, skipping upgrade: scikit-learn in c:\users\poona\anaconda3\envs\pythondata\lib\site-packages (from sklearn) (0.21.3)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in c:\users\poona\anaconda3\envs\pythondata\lib\site-packages (from scikit-learn->sklearn) (0.14.0)
Requirement already satisfied, skipping upgrade: numpy>=1.11.0 in c:\users\poona\anaconda3\envs\pythondata\lib\site-packages (from scikit-learn->sklearn) (1.17.4)
Requirement already satisfied, skipping upgrade: scipy>=0.17.0 in c:\users\poona\anaconda3\envs\pythondata\lib\site-packages (from scikit-learn->sklearn) (1.3.2)

In [3]:
# install joblib. This will be used to save your model. 
# Restart your kernel after installing 
!pip install joblib

Requirement already satisfied: joblib in c:\users\poona\anaconda3\envs\pythondata\lib\site-packages (0.14.0)

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("clean_team_stats.csv")
# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')
# Drop the null rows
#df = df.dropna()
df.head()

,team_no,variable,first_downs,first_downs_by_penalty,third_down_percentage,fourth_down_percentage,average_interception_yards,average_kickoff_return_yards,average_punt_return_yards,interceptions,...,yards_per_game,yards_per_pass_attempt,yards_per_rush_attempt,total_penalties,total_yards_penalized,total_defensive_sacks,yards_lost_from_sacks,total_punts_kicked,total_punt_yards,total_team_penalties
0,0,Cincinnati,290,21,42.99,64.71,18.8,21.9,8.3,11,...,390.3,6.8,4.7,123,977,35,234,72,3053,123
1,1,East Carolina,288,37,39.33,42.86,9.8,16.3,5.3,10,...,430.2,7.7,3.8,71,615,17,150,65,2653,71
2,2,Houston,232,23,34.84,70.59,10.4,21.7,11.4,12,...,391.5,7.8,4.8,58,579,35,199,54,2531,58
3,3,Memphis,327,31,45.88,58.33,4.8,26.2,8.1,11,...,485.1,9.5,4.7,103,839,27,170,44,1957,103
4,4,Navy,282,12,46.20,76.47,4.8,16.9,6.2,4,...,455.8,11.9,6.1,54,459,17,95,39,1668,54

In [17]:
df.dtypes

team_no                           int64
variable                         object
first_downs                       int64
first_downs_by_penalty            int64
third_down_percentage           float64
fourth_down_percentage          float64
average_interception_yards      float64
average_kickoff_return_yards    float64
average_punt_return_yards       float64
interceptions                     int64
net_average_punt_yards          float64
net_passing_yards                 int64
net_passing_yards_per_game      float64
passing_first_downs               int64
passing_touchdowns                int64
rushing_first_downs               int64
rushing_attempts                  int64
rushing_touchdowns                int64
rushing_yards                     int64
rushing_yards_per_game          float64
total_offensive_plays             int64
total_points                      int64
total_points_per_game           float64
total_touchdowns                  int64
total_offensive_yards             int64
total_penalties_yards            object
yards_per_game                  float64
yards_per_pass_attempt          float64
yards_per_rush_attempt          float64
total_penalties                   int64
total_yards_penalized             int64
total_defensive_sacks             int64
yards_lost_from_sacks             int64
total_punts_kicked                int64
total_punt_yards                  int64
total_team_penalties              int64
dtype: object

In [25]:
df=df.drop(['team_no','variable', 'total_penalties_yards'], axis=1)

In [26]:
df.dtypes

first_downs                       int64
first_downs_by_penalty            int64
third_down_percentage           float64
fourth_down_percentage          float64
average_interception_yards      float64
average_kickoff_return_yards    float64
average_punt_return_yards       float64
interceptions                     int64
net_average_punt_yards          float64
net_passing_yards                 int64
net_passing_yards_per_game      float64
passing_first_downs               int64
passing_touchdowns                int64
rushing_first_downs               int64
rushing_attempts                  int64
rushing_touchdowns                int64
rushing_yards                     int64
rushing_yards_per_game          float64
total_offensive_plays             int64
total_points                      int64
total_points_per_game           float64
total_touchdowns                  int64
total_offensive_yards             int64
yards_per_game                  float64
yards_per_pass_attempt          float64
yards_per_rush_attempt          float64
total_penalties                   int64
total_yards_penalized             int64
total_defensive_sacks             int64
yards_lost_from_sacks             int64
total_punts_kicked                int64
total_punt_yards                  int64
total_team_penalties              int64
dtype: object

In [29]:
# # Set features. This will also be used as your x values.
# selected_features = df[['names', 'of', 'selected', 'features', 'here']]

In [30]:
X = df.drop("third_down_percentage", axis=1)
y = df["third_down_percentage"].values.reshape(-1,1)
print(X.shape, y.shape)

(130, 32) (130, 1)

In [31]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical

In [32]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=42,test_size=0.40)

In [33]:
X_train.head()

,first_downs,first_downs_by_penalty,fourth_down_percentage,average_interception_yards,average_kickoff_return_yards,average_punt_return_yards,interceptions,net_average_punt_yards,net_passing_yards,net_passing_yards_per_game,...,yards_per_game,yards_per_pass_attempt,yards_per_rush_attempt,total_penalties,total_yards_penalized,total_defensive_sacks,yards_lost_from_sacks,total_punts_kicked,total_punt_yards,total_team_penalties
98,320,26,52.00,14.7,26.3,14.3,6,38.5,3615,258.2,...,433.1,8.1,4.8,85,862,25,175,62,2720,85
128,295,28,56.52,11.8,21.6,1.8,11,37.6,3758,313.2,...,456.3,7.7,4.3,64,597,27,155,45,1818,64
53,304,27,37.50,13.9,22.0,5.4,10,34.0,3490,268.5,...,436.8,7.6,4.6,72,605,29,164,60,2247,72
5,321,40,73.33,10.1,26.1,8.1,11,36.4,4017,309.0,...,489.8,8.0,4.4,83,743,17,108,64,2499,83
68,272,23,68.00,9.7,18.3,8.4,6,37.7,3278,252.2,...,431.2,7.9,4.9,84,645,17,93,63,2485,84

In [34]:
# Scale your data
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [45]:
from sklearn.svm import SVR
svr = SVR()
svr.fit(X_train, y_train)
print(svr.score(X_train, y_train))
print(svr.score(X_test, y_test))

0.2494081462982568
-0.014710021237451576

C:\Users\poona\Anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\poona\Anaconda3\envs\PythonData\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [39]:
# Create the SVR Model
from sklearn.svm import SVR 
model = SVR(kernel='linear')
model

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
    gamma='auto_deprecated', kernel='linear', max_iter=-1, shrinking=True,
    tol=0.001, verbose=False)

In [40]:
model.fit(X_train, y_train)

C:\Users\poona\Anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
    gamma='auto_deprecated', kernel='linear', max_iter=-1, shrinking=True,
    tol=0.001, verbose=False)

In [41]:
print(f"Training Data Score: {model.score(X_train_scaled, y_train)}")
print(f"Testing Data Score: {model.score(X_test_scaled, y_test)}")

Training Data Score: -8.314607638286397
Testing Data Score: -8.185650148837263

In [46]:
best_model=SVR(kernel='linear', C=10, gamma=0.0001)
best_model

SVR(C=10, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma=0.0001,
    kernel='linear', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [47]:
# save your model by updating "your_name" with your name

# and "your_model" with your model variable

# if joblib fails to import, try running the command to install in terminal/git-bash
import joblib
filename = 'poogoel_collegefootball_analysis_svr.sav'
joblib.dump(best_model, filename)

['poogoel_collegefootball_analysis_svr.sav']